body {
	background-color: black;
	color: yellow;
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 2;
    perspective: 400px;
}

main {
	position: relative;
	top: -600px;
    animation: crawl 60s;
}

@keyframes crawl {
	/* At the beginning, we want the top to be zero */
    0% {
        top: 0;
        transform: rotateX(25deg) translateZ(0);
    }
	/* At the end, we the top to be far away */
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
