<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Players</title>
        <link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<h1>Players</h1>

		<div id='players'>
			<!--Render our roster-->
			{{#each players}}
                <div class="player">
                    <h2> {{ this.name }}</h2>
                    <h3> {{ this.position }} </h3>
                </div>
			{{/each}}
		</div>

        <p>
            <a href="/roster/add">Add a New Player</a>
        </p>
	</body>
</html>