<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<main>
			<p><strong>Name:</strong> {{shop.name}}</p>
			<p><strong>Rating:</strong> {{shop.rating}}</p>
		</main>
	</body>
</html>