.tree {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 200px;
}

.root {
	position: absolute;
	top: 400px;
	width: 50px;
	height: 50px;
	background-color: brown;
    left: 50%;
	transform: translateX(-50%, -50%);
}
